<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="com.montage_tech.arthas.application"
         name="arthas.application"
         point="org.eclipse.cdt.managedbuilder.core.buildDefinitions">
      <projectType
            id="arthas.application.projectype"
            isAbstract="false"
            isTest="false"
            name="Montage-tech Application">
         <configuration
               artifactExtension="elf"
               artifactName="mt"
               buildProperties="org.eclipse.cdt.build.core.buildType=org.eclipse.cdt.build.core.buildType.release"
               cleanCommand="rm -rf"
               errorParsers="org.eclipse.cdt.core.GmakeErrorParser;org.eclipse.cdt.core.GCCErrorParser;org.eclipse.cdt.core.GLDErrorParser;org.eclipse.cdt.core.GASErrorParser;"
               id="arthas.application.release"
               name="release"
               postannouncebuildStep="post process after elf has been generated"
               postbuildStep="post_build.sh mt.elf">
            <toolChain
                  archList="all"
                  id="arthas.application.toolchain"
                  isAbstract="false"
                  name="montage-tech toolchain"
                  osList="win32"
                  supportsManagedBuild="true"
                  targetTool="com.montage-tech.arthas.toolchain.linker">
               <builder
                     autoBuildTarget="-s all"
                     buildfileGenerator="org.eclipse.cdt.managedbuilder.makegen.gnu.GnuMakefileGenerator"
                     cleanBuildTarget="-s clean"
                     command="make"
                     errorParsers="org.eclipse.cdt.core.GmakeErrorParser"
                     id="arthas.application.builder"
                     ignoreErrCmd="-k"
                     incrementalBuildTarget="-s all"
                     isAbstract="false"
                     isVariableCaseSensitive="false"
                     name="builder"
                     parallelBuildCmd="-j*"
                     reservedMacroNames="ROOT,DEPS,OBJS,.*_SRCS,EXECUTABLES,SUBDIRS,LIBS,USER_OBJS,.*_INPUTS,.*_OUTPUTS"
                     variableFormat="${=}">
               </builder>
               <targetPlatform
                     archList="all"
                     binaryParser="org.eclipse.cdt.core.ELF"
                     id="arthas.application.targetPlatform"
                     isAbstract="false"
                     name="targetPlatform"
                     osList="win32">
               </targetPlatform>
               <tool
                     command="mips-elf-gcc.exe "
                     id="arthas.application.compiler"
                     isAbstract="false"
                     name="c compiler"
                     natureFilter="cnature"
                     outputFlag="-c -o">
                  <inputType
                        dependencyCalculator="org.eclipse.cdt.managedbuilder.makegen.gnu.DefaultGCCDependencyCalculator2"
                        dependencyContentType="org.eclipse.cdt.core.cHeader"
                        id="arthas.application.compiler.input"
                        name="Compiler Input: c"
                        primaryInput="true"
                        sourceContentType="org.eclipse.cdt.core.cSource"
                        sources="c">
                  </inputType>
                  <outputType
                        buildVariable="OBJS"
                        id="arthas.application.compiler.output"
                        name="Compiler Output"
                        outputs="o"
                        primaryOutput="true">
                  </outputType>
                  <optionCategory
                        id="com.montage-tech.arthas.application.compiler.optionCategory.general"
                        name="general">
                  </optionCategory>
                  <option
                        browseType="directory"
                        category="com.montage-tech.arthas.application.compiler.optionCategory.general"
                        command="-I"
                        id="com.montage-tech.arthas.application.compiler.general.incpat"
                        isAbstract="false"
                        name="Include paths"
                        resourceFilter="all"
                        valueType="includePath">
                     <listOptionValue
                           builtIn="false"
                           value="&quot;${PROJECT_LOC}\inc&quot;">
                     </listOptionValue>
                     <listOptionValue
                           builtIn="false"
                           value="&quot;${PROJECT_LOC}\inc\ap&quot;">
                     </listOptionValue>
                     <listOptionValue
                           builtIn="false"
                           value="&quot;${PROJECT_LOC}\inc\drv&quot;">
                     </listOptionValue>
                     <listOptionValue
                           builtIn="false"
                           value="&quot;${PROJECT_LOC}\inc\drv\bus&quot;">
                     </listOptionValue>
                     <listOptionValue
                           builtIn="false"
                           value="&quot;${PROJECT_LOC}\inc\drv\drvbase&quot;">
                     </listOptionValue>
                     <listOptionValue
                           builtIn="false"
                           value="&quot;${PROJECT_LOC}\inc\hal&quot;">
                     </listOptionValue>
                     <listOptionValue
                           builtIn="false"
                           value="&quot;${PROJECT_LOC}\inc\mdl&quot;">
                     </listOptionValue>
                     <listOptionValue
                           builtIn="false"
                           value="&quot;${PROJECT_LOC}\inc\os&quot;">
                     </listOptionValue>
                     <listOptionValue
                           builtIn="false"
                           value="&quot;${PROJECT_LOC}\inc\util&quot;">
                     </listOptionValue>
                     <listOptionValue
                           builtIn="false"
                           value="&quot;${PROJECT_LOC}\inc\hal\arch\mips&quot;">
                     </listOptionValue>
                     <listOptionValue
                           builtIn="false"
                           value="&quot;${PROJECT_LOC}\inc\mdl\mmi&quot;">
                     </listOptionValue>
                  </option>
                  <option
                        browseType="none"
                        category="com.montage-tech.arthas.application.compiler.optionCategory.general"
                        command="-D"
                        id="com.montage_tech.arthas.application.compiler.general.defsyb"
                        isAbstract="false"
                        name="Defined Symbols"
                        resourceFilter="all"
                        valueType="definedSymbols">
                     <listOptionValue
                           builtIn="false"
                           value="CODE_VERSION=0">
                     </listOptionValue>
                     <listOptionValue
                           builtIn="false"
                           value="METHODS=1">
                     </listOptionValue>
                     <listOptionValue
                           builtIn="false"
                           value="METHOD0=0">
                     </listOptionValue>
                     <listOptionValue
                           builtIn="false"
                           value="CACHE_ON">
                     </listOptionValue>
                     <listOptionValue
                           builtIn="false"
                           value="SUPPORT_ENGINE_EX">
                     </listOptionValue>
                     <listOptionValue
                           builtIn="false"
                           value="OPTIMIZE=METHODS">
                     </listOptionValue>
                     <listOptionValue
                           builtIn="false"
                           value="ASSERT_ON">
                     </listOptionValue>
                  </option>
                  <option
                        category="com.montage-tech.arthas.application.compiler.optionCategory.general"
                        id="com.montage_tech.arthas.application.compiler.general.comp1"
                        isAbstract="false"
                        name="Compile Options"
                        resourceFilter="all"
                        value="-Os -G0 -EL -mips1 -Wa,-xgot -nostartfiles -nodefaultlibs -Wall -Wno-pointer-sign  -Werror -msoft-float -ffunction-sections"
                        valueType="string">
                  </option>
               </tool>
               <tool
                     command="mips-elf-g++.exe "
                     id="arthas.application.compiler.cpp"
                     isAbstract="false"
                     name="c++ compiler"
                     natureFilter="both"
                     outputFlag="-c -o">
                  <inputType
                        dependencyCalculator="org.eclipse.cdt.managedbuilder.makegen.gnu.DefaultGCCDependencyCalculator2"
                        dependencyContentType="org.eclipse.cdt.core.cHeader"
                        id="arthas.application.compiler.cpp.input"
                        name="Compiler Input: c++"
                        primaryInput="true"
                        sourceContentType="org.eclipse.cdt.core.cxxSource"
                        sources="cpp">
                  </inputType>
                  <outputType
                        buildVariable="OBJS"
                        id="arthas.application.compiler.cpp.output"
                        name="Compiler Output"
                        outputs="o"
                        primaryOutput="true">
                  </outputType>
                  <optionCategory
                        id="com.montage-tech.arthas.application.compiler.cpp.optionCategory.general"
                        name="general">
                  </optionCategory>
                  <option
                        browseType="directory"
                        category="com.montage-tech.arthas.application.compiler.cpp.optionCategory.general"
                        command="-I"
                        id="com.montage-tech.arthas.application.compiler.cpp.general.incpat"
                        isAbstract="false"
                        name="Include paths"
                        resourceFilter="all"
                        valueType="includePath">
                     <listOptionValue
                           builtIn="false"
                           value="&quot;${PROJECT_LOC}\inc&quot;">
                     </listOptionValue>
                     <listOptionValue
                           builtIn="false"
                           value="&quot;${PROJECT_LOC}\inc\ap&quot;">
                     </listOptionValue>
                     <listOptionValue
                           builtIn="false"
                           value="&quot;${PROJECT_LOC}\inc\drv&quot;">
                     </listOptionValue>
                     <listOptionValue
                           builtIn="false"
                           value="&quot;${PROJECT_LOC}\inc\drv\bus&quot;">
                     </listOptionValue>
                     <listOptionValue
                           builtIn="false"
                           value="&quot;${PROJECT_LOC}\inc\drv\drvbase&quot;">
                     </listOptionValue>
                     <listOptionValue
                           builtIn="false"
                           value="&quot;${PROJECT_LOC}\inc\hal&quot;">
                     </listOptionValue>
                     <listOptionValue
                           builtIn="false"
                           value="&quot;${PROJECT_LOC}\inc\mdl&quot;">
                     </listOptionValue>
                     <listOptionValue
                           builtIn="false"
                           value="&quot;${PROJECT_LOC}\inc\os&quot;">
                     </listOptionValue>
                     <listOptionValue
                           builtIn="false"
                           value="&quot;${PROJECT_LOC}\inc\util&quot;">
                     </listOptionValue>
                     <listOptionValue
                           builtIn="false"
                           value="&quot;${PROJECT_LOC}\inc\hal\arch\mips&quot;">
                     </listOptionValue>
                     <listOptionValue
                           builtIn="false"
                           value="&quot;${PROJECT_LOC}\inc\mdl\mmi&quot;">
                     </listOptionValue>
                  </option>
                  <option
                        browseType="none"
                        category="com.montage-tech.arthas.application.compiler.cpp.optionCategory.general"
                        command="-D"
                        id="com.montage_tech.arthas.application.compiler.cpp.general.defsyb"
                        isAbstract="false"
                        name="Defined Symbols"
                        resourceFilter="all"
                        valueType="definedSymbols">
                     <listOptionValue
                           builtIn="false"
                           value="CODE_VERSION=0">
                     </listOptionValue>
                     <listOptionValue
                           builtIn="false"
                           value="METHODS=1">
                     </listOptionValue>
                     <listOptionValue
                           builtIn="false"
                           value="METHOD0=0">
                     </listOptionValue>
                     <listOptionValue
                           builtIn="false"
                           value="CACHE_ON">
                     </listOptionValue>
                     <listOptionValue
                           builtIn="false"
                           value="SUPPORT_ENGINE_EX">
                     </listOptionValue>
                     <listOptionValue
                           builtIn="false"
                           value="OPTIMIZE=METHODS">
                     </listOptionValue>
                     <listOptionValue
                           builtIn="false"
                           value="ASSERT_ON">
                     </listOptionValue>
                  </option>
                  <option
                        category="com.montage-tech.arthas.application.compiler.cpp.optionCategory.general"
                        id="com.montage_tech.arthas.application.compiler.cpp.general.comp1"
                        isAbstract="false"
                        name="Compile Options"
                        resourceFilter="all"
                        value="-Os -G0 -EL -mips1 -Wa,-xgot -nostartfiles -nodefaultlibs -Wall   -Werror -msoft-float -ffunction-sections"
                        valueType="string">
                  </option>
               </tool>
               <tool
                     command="mips-elf-ld.exe "
                     customBuildStep="false"
                     id="arthas.application.linker"
                     isAbstract="false"
                     name="linker"
                     superClass="cdt.managedbuild.tool.gnu.c.linker.so.release"
                     supportsManagedBuild="true">
                  <option
                        category="com.montage-tech.arthas.application.linker.optionCategory.general"
                        id="com.montage_tech.arthas.application.lnkopt"
                        isAbstract="false"
                        name="Linker Options"
                        resourceFilter="all"
                        value="--oformat elf32-littlemips -gc-sections"
                        valueType="string">
                  </option>
                  <optionCategory
                        id="com.montage-tech.arthas.application.linker.optionCategory.general"
                        name="general">
                  </optionCategory>
                  <option
                        category="com.montage-tech.arthas.application.linker.optionCategory.general"
                        command="-T"
                        id="com.montage_tech.arthas.application.ldopt"
                        isAbstract="false"
                        name="Linker ld"
                        resourceFilter="all"
                        value="&quot;${PROJECT_LOC}\link_mips.ld&quot;"
                        valueType="string">
                  </option>
                  <outputType
                        id="com.montage_tech.arthas.application.outputType3"
                        name="Linker Output"
                        outputs="elf"
                        primaryOutput="true">
                  </outputType>
                  <inputType
                        id="com.montage_tech.arthas.application.lnkinput"
                        name="Linker Input"
                        sources="o">
                  </inputType>
                  <option
                        browseType="none"
                        category="com.montage-tech.arthas.application.linker.optionCategory.general"
                        command="-L"
                        id="com.montage_tech.arthas.application.lnkpath"
                        isAbstract="false"
                        name="Library paths"
                        resourceFilter="all"
                        valueType="libPaths">
                     <listOptionValue
                           builtIn="false"
                           value="&quot;${PROJECT_LOC}\lib&quot;">
                     </listOptionValue>
                  </option>
                  <option
                        browseType="none"
                        category="com.montage-tech.arthas.application.linker.optionCategory.general"
                        command="-l"
                        id="com.montage-tech.arthas.application.option1"
                        isAbstract="false"
                        name="Linker libs"
                        resourceFilter="all"
                        valueType="libs">
                     <listOptionValue
                           builtIn="false"
                           value="c">
                     </listOptionValue>
                     <listOptionValue
                           builtIn="false"
                           value="m">
                     </listOptionValue>
                     <listOptionValue
                           builtIn="false"
                           value="gcc">
                     </listOptionValue>
                  </option>
               </tool>
               <tool
                     command="mips-elf-as.exe"
                     id="arthas.application.assembler"
                     isAbstract="false"
                     name="assembler"
                     outputFlag="-o"
                     
                     superClass="cdt.managedbuild.tool.gnu.assembler.so.release">
                  <optionCategory
                        id="com.montage-tech.arthas.application.assembler.optionCategory.general"
                        name="general">
                  </optionCategory>
                  <option
                        category="com.montage-tech.arthas.application.assembler.optionCategory.general"
                        id="com.montage_tech.arthas.application.asopt"
                        isAbstract="false"
                        name="Assembler flags"
                        resourceFilter="all"
                        value="-EL -mips1"
                        valueType="string">
                  </option>
                  <inputType
                        id="com.montage_tech.arthas.application.inputType1"
                        name="Assembler Input"
                        sources="s,S">
                  </inputType>
                  <outputType
                        buildVariable="OBJS"
                        id="com.montage_tech.arthas.application.outputType1"
                        name="Assembler Output"
                        outputs="o"
                        primaryOutput="true">
                  </outputType>
               </tool>
            </toolChain>
         </configuration>
      </projectType>
   </extension>

</plugin>
